body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #401705;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerNav{
  box-shadow: 0 10px 10px 4px #ccc;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background: #fff;
  min-height: 65px;
  z-index: 10;
}

.headerNav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.headerNav ul li{
  margin: 0 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.headerNav ul li a{
  text-decoration: none;
  color:#401705;
  
}

.headerNav ul li a.active,.headerNav ul li:hover a
{
    color: #9F2D23;
    border-bottom: 3px solid #9F2D23;
    padding-bottom: 5px;
    display: inline-block;
}

.imagePlaceHolder{
  height: 200px;
  width: 200px;
  background: url("https://raw.githubusercontent.com/adityavinjamoori/cbre-catalog/main/src/assets/placeholder-images-image_large.png");
  background-size: 200px;
  margin: 0 auto;
}

.imagePlaceHolder.WorkOrder{
  background: url("https://raw.githubusercontent.com/adityavinjamoori/cbre-catalog/main/src/assets/placeholder-images-image_large.png");
}

.imagePlaceHolder.Property{
  background: url("https://raw.githubusercontent.com/adityavinjamoori/cbre-catalog/main/src/assets/placeholder-images-image_large.png");
}

.Order{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 80px;
}
.Order .item{
  width: 33%;
  margin-bottom: 50px;
}

.Order .item h2{
  text-align: center;
  color: #401705;
  font-size: 25px;
}

.Order .item h2:hover{
  color: #9F2D23;
  cursor: pointer;
}
.headerSection{
  overflow: auto;
  border-bottom: 1px solid;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.headerSection .title
{
  text-align: center;
  color: #401705;
  font-size: 25px;
}

.section{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.subItems{
  width: 70%;
  margin: 50px auto;
}
.headerSection .logo{
  float: left;
  margin-right: 50px;
}

.subItems .list
{
  display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
}
.subItems .list .chunk
{
    width: 45%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: #401705;
    border: 1px solid #401705;
    position: relative
}

.subItems .list .chunk .imagePlaceHolder{
  margin: 0 20px 0 0;
}

.subItems .list .chunk .name{
  font-weight: bold
}

.subItems .list .chunk .footer{
  display: flex;
  margin-top: 10px;
}

.subItems .list .chunk .calories{
  margin-left: 20px;
}

.addToCart {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  align-items: center;
}

.addToCart .switch
{
  position: relative;
  display: inline-block;
  width: 35px;
  height: 15px;
  margin-left: 5px;
}

.addToCart .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: .4s;
}

.addToCart  input:checked + .slider:before {
  transform: translateX(16px);
}

.checkout{
  display: inline-block;
  padding: 5px;
  border: 1px solid #401705;
  cursor: pointer;
  border-radius: 4px;
}

.checkout:hover{
  background: #401705;
  color: #fff;
}


.Cart{
  width: 50%;
    margin: 50px auto;
}

.CartItems{
  padding-bottom: 10px;
  border-bottom: 1px solid #401705

}
.CartItem {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.CartItem > div{
  text-align: right;
    width: 20%;
}

.CartItem .itemName{
  text-align:left;
  flex: 1
}

.cartHeader {
  display: flex;
}
.cartHeader .name{
  flex: 1;
}

.cartHeader .cal,.cartHeader .Price{
  text-align: right;
    width: 20%;
}

.buyButton {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 20px;
  width: 10%;
  text-align: center;
  color: #fff;
  background: #401705;
  margin: 40px auto;
  cursor: pointer;
}

.Order2
{
    margin: 40px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Order2 .section30{
  width: 49%;
}
.Order2 .item{
  display: flex;
  border: 1px solid;
}

.Order2 .item .imagePlaceHolder{
  min-width: 200px;
  background-repeat: no-repeat;
  margin: 0 20px 0 0;
}

.Order2 .item:hover{
  opacity: 0.8;
  transition: 2s opacity;
}



.subItems2 {
  margin: 0 auto;
  background: #fff;
  z-index: 8;
  width: 100%;
  box-shadow: 0 3px 5px 0px}

.subItems2 .chunk {
  position: relative;
  display: flex;
  margin: 0 10px 10px;
  align-items: center;
}

.subItems2 .imagePlaceHolder {
  margin: 0 40px 0 0;
  background-size: 50px;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: none;
}

.item-container .desc{
  display: flex;
    flex-wrap: wrap
}

.switchContainer{
  width: 100%
}

.subItems2 .desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.subItems2 .desc h2{
  display: flex;
  align-items: center;
}

.helpIcon {
    display: inline-block;
    margin: 0 10px;
    background: #ccc;
    color: #fff;
    font-size: 15px;
    padding: 0px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.subItems2 .desc > div{
  margin: 0 20px;
  min-width: 20%;
  text-align: center;
}
.subItems2 .desc .name {
  flex: 1;
  margin: 0;
  text-align: left;
  display: flex;
  align-items: center;
}

.subItems2 .cartHeader .image{
  display: none;
  min-width: 90px;
}

.item-container{
  margin: 20px 0;
  position: relative;
}





/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.item-container .desc h2{
  display: flex;
  align-items: center;
}
.MuiDialog-paperWidthSm{
  min-width: 400px;
}